<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Xdoc Target Platform - Eclipse 4.8" sequenceNumber="1541430977">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="4.8.0.v20180611-0826"/>
      <unit id="org.eclipse.pde.feature.group" version="3.13.100.v20180611-0826"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.12.0.201805140824"/>
      <unit id="org.eclipse.emf.eef.sdk-feature.feature.group" version="1.5.1.201601141612"/>
      <unit id="org.eclipse.swt" version="3.107.0.v20180611-0422"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.0.v20180518-2029"/>
      <unit id="org.eclipse.emf.common" version="2.14.0.v20180527-1134"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.14.0.v20180529-1157"/>
      <repository id="photon" location="http://download.eclipse.org/releases/photon/201806271001"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="de.itemis.xtext.antlr.sdk.feature.group" version="2.1.1.v201405091103"/>
      <unit id="de.itemis.xtext.antlr.feature.feature.group" version="2.1.1.v201405091103"/>
      <repository location="http://download.itemis.com/updates/releases/2.1.1"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.14.0.v20180523-0937"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.14.0.v20180523-0937"/>
      <repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.14.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.9.0.v201605261103"/>
      <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.9.0.v201605261103"/>
      <repository location="http://download.eclipse.org/modeling/emft/mwe/updates/releases/2.9.0/"/>
    </location>
  </locations>
  <environment>
    <nl>en</nl>
  </environment>
</target>
